<div class="top text-center">
  <h2>GaMentalへようこそ！</h2>
  <div class="links">
    <% if user_signed_in? %>
    <% else %>
    <p><%= link_to "ログイン", new_user_session_path, class: "btn btn-primary btn-sm" %></p>
    <p><%= link_to "新規ユーザー登録", new_user_registration_path, class: "btn btn-success btn-sm" %></p>
    <% end %>
  </div>
</div>
